body {
	margin: 0;
	font-family: "GmarketSans", "Noto Sans K", 'Segoe UI', 'Roboto', sans-serif;
	color: #333333;
}

ul {
	margin: 0;
	margin-block: 0;
	margin-inline: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

@font-face {
	font-family: "GmarketSans";
	font-weight: 100;
	src: local("G마켓 산스 TTF Light"), url("./fonts/GmarketSansTTFLight.ttf") format("truetype");
}

@font-face {
	font-family: "GmarketSans";
	font-weight: 500;
	src: local("G마켓 산스 TTF Medium"), url("./fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
	font-family: "GmarketSans";
	font-weight: 800;
	src: local("G마켓 산스 TTF Bold"), url("./fonts/GmarketSansTTFBold.ttf") format("truetype");
}
